/* ------------------------------ */
/* サイトごとの個別CSSを記述する場所 */
/* __utility フォルダでは使わない   */
/* ------------------------------ */

:root {
  --basic-font : 'Quicksand','Zen Kaku Gothic New';
}

.material-symbols-outlined {
  font-variation-settings: 'wght' 200, 'FILL' 0;
}

.tips > .material-symbols-outlined {
  font-variation-settings:'wght' 400;
  opacity: 0.33;
  position: absolute;
  user-select: none;
  font-size: calc(1.25em + 2px);
  align-self: end;
}

.material-symbols-outlined.edit-button {
  font-variation-settings: 'wght' 300, 'FILL' 1, 'opsz' 20;

  color: white;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0;
  font-size: 22px;
  cursor: pointer;
  user-select: none;

  &:hover {
    border-color: currentColor;
  }
  &:active {
    background-color: var(--sky-blue);
  }
}

.material-symbols-outlined.is-hover {
  font-variation-settings: 'wght' 300;
  opacity: 0.4;
  position: absolute;
  right: 100%;
  tr:not(:hover, .is-dragging) & {display: none;}
}
:is(th,td):has([type=text], [type=number]) .material-symbols-outlined.is-hover {
  right: calc(100% - 4px);
}



/* ---------------------- */
/*        || event        */
/* ---------------------- */
@layer state {
  .is-disabled {
    color: rgb(0 0 0 /0.33);
    text-decoration: line-through;
  }
  
  .is-dragging :is(th,td) {
    background-color: lightblue;
  }
}



/* ---------------------- */
/*     || base, reset     */
/* ---------------------- */
@layer base {
  h1 {
    text-align: center;
    user-select: none;
    font-weight: 100;
  }
  
  h2 {
    margin-block: 0;
    user-select: none;
    @media (max-width:600px) {margin-block-end: 0;}
  }
  
  hgroup {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-block-end: 1.5rem;
  }
  
  pre {
    font-family: var(--basic-font);
    margin-block: 0.5rem;
  }
  
  textarea {
    font-family: 'Zen Kaku Gothic New';
    resize: vertical;
    border-radius: 0.25rem;
    padding: 0.5rem;
    min-height: 1rem;
    field-sizing: content;
    box-sizing: border-box;
    width: stretch;
  }
  
  select {
    color: #444;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0.25rem;
    height: 1.5rem;
    width: stretch;
    cursor: pointer;
  }
  
  button {
    font-family: var(--basic-font);
  }
  
  hr {margin-block: 1.5rem;}

  input[type="text"] {
    border: 1px solid gray;
    border-radius: 3px;
    padding:0.25rem 0.5rem;
  }
  
  input[type="range"] {
    margin: 0;
    margin-inline-start: -2px;
  }
  
  input[type="number"] {
    width: 5ch;
    background-color: transparent;
    padding: 0.25rem;
    border: 1px solid gray;
    border-radius: 0.25rem;
  }
  
  input[type="color"] {
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: 1px solid gray;
    border-radius: 3px;
  
    &::-webkit-color-swatch,
    &::-webkit-color-swatch-wrapper {
      border: none;
      padding: 0;
    }
  }

  :is(main,dialog) li::marker{
    color: var(--accent);
    font-weight: 600;
  }
  
  .l-content p,
  .basic-dialog p {
    margin-block: 0;
    font-weight: 500;
  }
}



/* ---------------------- */
/*       || layout        */
/* ---------------------- */
/* imported */
@layer layout {
  main {
    flex-direction: column;
  }
}

@layer layout {
  .l-side-bar__content {
    padding: 1.5rem 2.5rem;
    width: 16rem;
    
    .round-button {
      width: 80%;
      white-space: nowrap;
    }
  }

  .l-basic-footer__content {
    border-block-end: 1px solid #aaa;
    @media(max-width: 600px) {border-block-end-style: none;}
  }
}


/* project */
@layer layout {
  .l-content {
    padding: 2.5rem 5rem;
    padding-block-end: 1.5rem;
    display: flex;
    gap: 5rem;
    flex-grow: 1;
  
    @media (max-width:600px) {
      padding: 1.5rem 1rem;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
  
  .l-output-div {
    display: flex;
    gap: 2rem;
    @media (max-width:600px) {
      flex-direction: column;
      gap: 0.75rem;
    }
  }
  
  .l-output-l {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: auto 1fr;
    align-items: start;
    gap: 1rem;
    height: max-content;
  }

  .l-float-ribbon {
    border-radius: 2rem;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    corner-shape: squircle;
    background-color: var(--sky-blue);

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;

    position: fixed;
    right: -5px;
    bottom: 100px;

    padding: 1rem 1.5rem;
  }

  #useful-dialog section {
    padding: 1.5rem;
    display: flex;
    gap: 1.5rem;
    font-size:calc(1rem - 2px);
    @media(max-width: 600px) {
      flex-direction: column;
    }
  }
}


/* -------------------- */
/*  imported component  */
/* -------------------- */
@layer component {
  .icon {
    --size: 0.75rem;
    --line-radius: 1.5px;
  }

  tr:not(:hover) .icon.is-hover {
    display: none;
  }
  #chat-table {
    .icon.is-hover {
      flex-grow: 0;
      --size: 1em;
      padding-inline: 4px;
    }
    .icon-plus {
      color: var(--sky-blue);
    }
    .icon-minus {
      color: darkgray;
    }
  }
  
  .toggle-button {
    --radius: calc(0.5rem - 1px);
    --padding: 2px;
    gap: 0.5rem;
    font-weight: 500;
    .checked     {color: var(--accent);}
    .not-checked {color: rgb(0 0 0 / 0.4);}
  }

  .round-button {
    justify-content: start;
    padding-inline: 1.25rem;
  }
  .invert-el.round-button {
    --line-color: var(--light-blue);
    --active-back-color: var(--blue-gradient);
  }
  
  .setting-div {
    gap: 0.5rem 1.5rem;
    margin-block: 0.5rem;
  
    > :nth-child(odd) {
      padding: 0 0.75rem;
      font-size: 0.9em;
      white-space: nowrap;
    }
  }

  .segmented-control.outline {
    --line-color: var(--light-blue);
    --inline-padding: 0.75em;

    color: var(--light-blue);
    font-size: small;

    > * {
      padding: 0.25em 0.5em;
    }
    > :has(:checked) {
      color: white;
      background: var(--blue-gradient);
      font-weight: 600;
    }
  }
  .segmented-control.filled {
    padding: 6px;
    border-radius: 10px;
    font-weight: 600;
    > * {
      padding: 3px 8px;
      border-radius: 8px;
    }
    > :has(:checked) {
      color: darkslategray;
    }
  }
  
  .basic-dialog {
    --radius: 7px;
    background-color: #fafafa;
    border-color: darkgray;
    box-shadow: 0px 2px 17px 1px rgb(0 0 0 / 19%);
  
    header {
      background-color: hsl(0, 0%, 93%);
      padding: 0.5rem 0.75rem;
  
      h2 {
        color: #444;
        font-size: large;
      }
    }
  
    section {
      padding: 0.75rem;
    }

    p {
      font-weight: 400;
    }

    ul {
      margin-block: 0;
      padding-inline-start: 2ch;
    }
  }
}


/* -------------------- */
/*  project component   */
/* -------------------- */
@layer component {
  .shadow {
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
  }
  .invert-el.shadow {
    --text-color: #49bccf;
    --back-color: transparent;
    border-radius: 3px;
    padding: 4px;
    font-weight: 800;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: stretch;
  }
  
  .triangle {
    background-color: hsl(from lightslategray h s l /33%);
    /* align-self: center; */
    height: 1rem;
    aspect-ratio: cos(30deg);
    clip-path: polygon(0 0,100% 50%,0 100%);
    @media (max-width:600px) {
      transform: rotate(90deg);
    }
  }

  .gray-box {
    background: var(--pale-green-gradient);
    padding: 0.5em 1em;
    margin-block: 0.5em;
    border-radius: 0.5em;
  }
  
  .title {
    color: white;
    background: var(--blue-gradient);
    padding: 0.25ch 1ch;
    margin-inline-start: -0.25em;
    border-radius: 2.5rem;
    width: fit-content;
    font-size: calc(1em + 0.5px);
  }
  
  .marker-title {
    color: darkslategray;
    background: var(--pale-green-gradient); 
    font-weight: 500; 
    font-size: calc(1em + 1px);
    padding-inline: 0.5ch;
  }
  
  .plain-title {
    font-weight: 500;
    margin-block: 1rem 0.5rem;
    display: flex;
    align-items: center;
    user-select: none;
  }
  
  .annotation {
    opacity: 0.6;
    font-size: smaller;
    text-align: end;
    user-select: none;
  }
  
  .tips {
    display: inline;
    font-weight: normal;
    padding-inline-start: 0.25rem;
    width: 1.25em;
    height: 1.25em;
    position: relative;
  
    > div:last-child { 
      background-color: rgb(255 255 255 /0.97);
      box-shadow: 0 3px 12px rgb(0 0 0 / 0.3);
      font-size: small;
  
      width: max-content;
      padding: 0.5rem 0.75rem;
      border-radius: 0.25rem;
      
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 2ch;
  
      &:not(:hover, :hover + &, :has(:focus)) {display: none;}
    }
      
    ul {
      margin: 0.5em 0;
      padding-inline-start: 0.9em;
    }
    li {padding-inline-start: 0.5ch;}
  }
  
  p.ccfolia-name {
    font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: bold;
    color: #888;
    background-color: #2a2a2a;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    visibility: hidden;
    :focus ~ & {visibility: visible;}
  }
 
  li.ok::marker {
    content:'✓';
    color: var(--accent);
  }
  li.ng::marker {
    content:'✕';
    color: rgb(205, 16, 35);
  }
}

/* table */
@layer component {
  .l-content {
    caption {
      text-align: left;
      font-size: calc(1rem - 1px);
      font-weight: 500;
      margin-block-end: 0.25rem;
      user-select: none;
    }
    caption button {margin-inline-start: 4px;}
    
    table {
      border-spacing: 0 0.25rem;
      font-size: small;
      letter-spacing: 0.5px;
    }
    
    tr {height: 1.5rem;}
    
    th,td {
      font-weight: 500;
      padding: 0.25rem;
  
      &:has(input[type="text"],input[type="number"]) {padding:0;}
      
      input[type="text"],
      input[type="number"] {
        background-color: transparent;
        width: inherit;
        padding: 0.25rem;
        border-width: 0;
      }
    }
    
    tbody {
      tr:nth-of-type(even) :is(th,td) {background-color: var(--cool-gray);}
      th,td { border-block-end: 1px solid darkgray; }
      th    { border-inline-end: 3px dotted hsl(from lightslategray h s l /33%); }
      
      input[type='checkbox'] {
        margin: 0;
        margin-block-start: 0.25rem;
        width: 1rem;
        height: 1rem;
      }
    }
    table:not(:has(thead)) tr:first-child > * { border-block-start: 1px solid darkgray; }
  }

  #skill-table {
    grid-column: 1 / -1;
    th, td {
      text-align: center;
      min-width: 8ch;
    }
    th {cursor: pointer;}
  }

    }
  }
  
  .value-table {
    width: max-content;
    th, td {text-align: center;}
    th {width: 8ch;}
    td {width: 7ch;}
  }

  .cell-wrap {
    display: flex;
    align-items: center;
    width: stretch;
    height: stretch;
    gap: 4px;
    position: relative;
    > :last-child {flex-grow: 1;}
  }
}

@layer component {
  .chat-table {
    display: flex;
    flex-direction: column;
    font-size: small;
    font-weight: 500;
    min-width: 32ch;
  }
  .chat-table__head {
    color: white;
    background: var(--blue-gradient);
    border-radius: 4px 4px 0 0;
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    letter-spacing: 0.1ch;
    user-select: none;
  }
  .chat-table__body {
    border-block-end: 1px solid darkgray;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.25em;
    min-height: 24px;
  }

  .button-tag.secret-flag {
    aspect-ratio: 1 / 1;
    height: 1.5em;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .chat-text {
    padding-inline-end: 0.5em;
    flex-grow: 1;
  }

  .icon.excluded-flag {
    --size: 1em;
    --line-radius: 1px;
  }
  .icon-minus.excluded-flag {
    color: darkgray;
  }
  .icon-plus.excluded-flag {
    color: var(--sky-blue);
  }
}