<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NPCコマ作成</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300..700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..24,200..400,0..1,0&icon_names=info,input,move_item,settings" />
  
  <link rel="stylesheet" href="./css/-base.css" />
  <link rel="stylesheet" href="./css/basic-dialog.css" />
  <link rel="stylesheet" href="./css/css-icon.css" />
  <link rel="stylesheet" href="./css/toggle-button.css" />
  <link rel="stylesheet" href="./css/--style.css" />
  
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="root">
    <main>
      <!-- 左メニュー -->
      <aside class="l-side-bar">
        <div class="l-side-bar__content">
          <h1>NPCコマ<br>作成ツール</h1>
          <!-- <button class="round-button invert-el" command="show-modal" commandfor="modal-how2use">
            このサイトについて
          </button> -->
          
          <button class="round-button invert-el invert" @click="exportUnit">
            <google-icon>move_item</google-icon>
            ココフォリアコマ出力
          </button>
          <button class="round-button invert-el invert" @click="copy2clipboard($event.currentTarget, getChatpalette())">
            <google-icon>move_item</google-icon>
            チャパレ出力
          </button>

          <button class="round-button invert-el" command="show-modal" commandfor="modal-dice-setting">
            <google-icon style="font-variation-settings: 'FILL' 1, 'opsz' 20;">settings</google-icon>
            チャパレ設定
          </button>
          <button class="round-button invert-el" command="show-modal" commandfor="modal-unit-setting">
            <google-icon style="font-variation-settings: 'FILL' 1, 'opsz' 20;">settings</google-icon>
            コマ設定
          </button>
          <button class="round-button invert-el" command="show-modal" commandfor="modal-useful">
            便利機能
          </button>
        </div>
      </aside>

      <div class="l-main-content">
        <div class="l-content">
          <!-- 入力欄 -->
          <section style="width: 23rem;">
            <hgroup style="margin-block-end: 1.5rem;">
              <h2 style="flex-grow: 1;">入力</h2>
              <button class="invert-el shadow" command="show-modal" commandfor="modal-import-unit">
                <google-icon>input</google-icon>
                インポート
              </button>        
              <button @click="clear" class="invert-el shadow">クリア</button>
            </hgroup>
    
            <!-- 名前欄 -->
            <div class="plane-title" style="margin-block-start: 0;">
              名前/メモ欄
            </div>
            <textarea id="name"></textarea>
    
            <!-- 能力値 -->
            <div class="plane-title">
              能力値 etc.
              <div class="tips">
                <google-icon>info</google-icon>
                <div>
                  <ul>
                    <li class="ok">途中改行</li>
                    <li class="ok">謎の半角/全角スペース</li>
                    <li class="ok">全角英数字</li>
                  </ul>
                </div>
              </div>
            </div>
            <textarea id="stats" @change="updateDefStats"></textarea>
    
            <!-- 技能・ダイス・choice -->
            <div class="plane-title">
              技能・ダイス etc.
              <div class="tips">
                <google-icon>info</google-icon>
                <div>
                  <ul>
                    <li class="ng">途中改行</li>
                    <li class="ok">謎の半角/全角スペース</li>
                    <li class="ok">全角の記号/英数字</li>
                  </ul>
                  <p style="margin-block: 0.5rem;">
                    <span class="marker-title">消す文字（正規表現）</span>
                  </p>
                  <input type="text" v-model="setting.delChar" @input="updateSkillList" style="font-family: 'Zen Kaku Gothic New';field-sizing: content;">
                </div>
              </div>
            </div>
            <textarea id="skills" @input="updateSkillList"></textarea>
            <p class="annotation">※半角スペースはアンダーバー(_)で代記</p>
          </section>
    
          <div class="triangle"></div>
    
          <!-- 出力欄 -->
          <section style="width: max-content;">
            <h2 style="margin-block-end: 1.5rem;">出力</h2>
            <div class="l-output-div">
              <div class="l-output-l">
    
                <table class="value-table secret-table" style="grid-row: 1 / 3;">
                  <caption>
                    パラメータ
                    <button-css-icon icon-name="icon-plus" class="invert-el shadow" @click="addRow('params')"></button-css-icon>
                    <button-css-icon icon-name="icon-minus" class="invert-el shadow" @click="deleteRow('params')"></button-css-icon>
                  </caption>
                  <tbody>
                    <tr v-for="[key,dic] in defStats.params" :class="{'is-disabled': dic.isExcluded}" @click="dic.isExcluded=!dic.isExcluded">
                      <td><input type="checkbox" v-model="dic.isExcluded"></td>
                      <th>{{key}}</th>
                      <td>{{dic.value}}</td>
                    </tr>
                    <tr 
                      v-for="(param, index) in exStats.params" 
                      :key="param.id"
                      :draggable="true"
                      :class="{'is-dragging': index===dragIndex && dragTarget===exStats.params}"
                      @dragstart="dragStart(index, exStats.params)"
                      @dragenter="dragEnter(index, exStats.params)"
                      @dragover.prevent
                      @dragend="dragEnd"
                    >
                      <td></td>
                      <th><input type="text" v-model="param.label"/></th>
                      <td><input type="text" v-model="param.value"/></td>
                    </tr>
                  </tbody>
                </table>
    
                <table class="value-table secret-table">
                  <caption>
                    ステータス
                    <button-css-icon icon-name="icon-plus" class="invert-el shadow" @click="addRow('stats')"></button-css-icon>
                    <button-css-icon icon-name="icon-minus" class="invert-el shadow" @click="deleteRow('stats')"></button-css-icon> 
                  </caption>
                  <tbody>
                    <tr v-for="[key,dic] in defStats.stats" :class="{'is-disabled': dic.isExcluded}" @click="dic.isExcluded=!dic.isExcluded">
                      <td><input type="checkbox" v-model="dic.isExcluded"></td>
                      <th>{{key}}</th>
                      <td>{{dic.value}}</td>
                    </tr>
                    <tr
                      v-for="(stat,index) in exStats.stats" 
                      :key="stat.id"
                      :draggable="true"
                      :class="{'is-dragging': index===dragIndex && dragTarget===exStats.stats}"
                      @dragstart="dragStart(index, exStats.stats)"
                      @dragenter="dragEnter(index, exStats.stats)"
                      @dragover.prevent
                      @dragend="dragEnd"
                    >
                      <td></td>
                      <th><input type="text" v-model="stat.label"/></th>
                      <td><input type="text" v-model="stat.value"/></td>
                    </tr>
                  </tbody>
                </table>
    
                <table class="value-table">
                  <caption>他</caption>
                  <tbody>
                    <tr v-for="[key,dic] in defStats.else">
                      <th>{{key}}</th>
                      <td>{{dic.value}}</td>
                    </tr>
                  </tbody>
                </table>
    
                <table id="skill-table">
                  <caption>技能</caption>
                  <tbody>
                    <tr 
                      v-for="(dic,index) in skillList" 
                      :key="dic.id"
                      :draggable="true"
                      :class="{'is-dragging': index===dragIndex && dragTarget===skillList}"
                      @dragstart="dragStart(index, skillList)"
                      @dragenter="dragEnter(index, skillList)"
                      @dragover.prevent
                      @dragend="dragEnd"
                    >
                      <th :class="{'is-disabled' : dic.isNoname}" @click="dic.isNoname = !dic.isNoname">
                        {{dic.times ? `x${dic.times} ` : ''}}{{dic.name}}
                      </th>
                      <td>{{dic.value}}</td>
                    </tr>
                    <tr v-for="val in Math.max(6-skillList.length, 0)">
                      <th></th>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
    
              <table id="chat-table" class="secret-table">
                <thead>
                  <tr>
                    <th>✕</th>
                    <th>s</th>
                    <th>chat palette</th>
                  </tr>
                </thead>
                <tbody>
                  <tr 
                    v-for="(dic,index) in refChatList"
                    :draggable="true"
                    :class="{'is-dragging': index === dragIndex && dragTarget===refChatList}"
                    @dragstart="dragStart(index, refChatList)"
                    @dragenter="dragEnter(index, refChatList)"
                    @dragover.prevent
                    @dragend="dragEnd"
                  >
                    <td><input type="checkbox" v-model="dic.isExcluded"></td>
                    <td><input type="checkbox" v-model="dic.isSecret"></td>
                    <td :class="{'is-disabled': dic.isExcluded}" @click="dic.isExcluded=!dic.isExcluded">
                      {{dic.timesText}}{{dic.isSecret ? 's' : ''}}{{dic.text}}
                    </td>
                  </tr>
                  <tr v-for="val in Math.max(17 - refChatList.length, 0)">
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
    
              <div class="setting-div" style="font-size: 0.9rem;column-gap: 0.75rem;margin-block: 0.25rem 0;margin-inline-start: -1rem;">
                <template v-for="[key, value] in chatTargets">
                  <span>{{key}}</span>
                  <toggle-button :is-checked="value" @checked-toggle="val=>chatTargets.set(key, val)"></toggle-button>
                </template>
              </div>

            </div>
          </section>
        </div>

        <footer class="l-basic-footer">
          <div class="l-basic-footer__content">
            <div>
              <h2>CONTACT</h2>
              <span style="font-size: larger;">セイル</span>
              <br>
              Booth: https://seils.booth.pm/
              <br>
              X(旧Twitter): @seilor0
            </div>
            <div>
              <h2>CAUTION</h2>
              <ul>
                <li>
                  作業環境：Windows11 / Google Chrome
                  <br>
                  上記以外の環境はテストしていないため、不具合が出る可能性があります。
                </li>
                <li>
                  当サイトの利用によるいかなるトラブルも作者は責任を負いません。
                  <br>
                  ご利用は自己責任にてお願いいたします。
                </li>
                <li>
                  何かあれば左の連絡先までご連絡ください。
                </li>
              </ul>
            </div>
            <div>
              <h2>UPDATE</h2>
              <table>
                <thead>
                  <tr>
                    <th>date</th>
                    <th>version</th>
                    <th>detail</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
          <pre style="text-align: center;margin-block-end: unset;white-space: pre-wrap;">
    当サイトは、「株式会社アークライト」及び「株式会社KADOKAWA」が権利を有する『クトゥルフ神話TRPG』シリーズの二次創作物です。
    Call of Cthulhu is copyright ©1981, 2015, 2019 by Chaosium Inc. ;all rights reserved. Arranged by Arclight Inc. Call of Cthulhu is a registered trademark of Chaosium Inc.
    PUBLISHED BY KADOKAWA CORPORATION 「クトゥルフ神話TRPG」「新クトゥルフ神話TRPG」</pre>
        </footer>
      </div>
    </main>

    <basic-dialog id="modal-how2use">
      <template #header>このサイトについて</template>
      <template #content>
        <p>
          CoC6版 / 7版のココフォリア用の<br>
          キャラコマを作れるサイトです。<br>
        </p>
        <p>
          入力の手数を極力省くことを目的に作りました。
        </p>
      </template>
    </basic-dialog>

    <basic-dialog id="modal-useful">
      <template #header>便利機能</template>
      <template #content>
        <div>
          <p class="title">並び替え</p>
          <p style="margin-block: 0.5em;">
            ドラッグ & ドロップで<br>
            出力欄のリストを<br>
            並び替えることができます
          </p>
          <p>対象：</p>
          <div class="gray-box">
            <ul>
              <li>技能</li>
              <li>チャパレ</li>
              <li>追加したパラメータ</li>
              <li>追加したステータス</li>
            </ul>
          </div>
        </div>
        <div>
          <p class="title">出力 ON/OFF</p>
          <p style="margin-block: 0.5em;">
            対象の欄をクリックすることで<br>
            チャパレやキャラコマに出力するか<br>
            別個に設定できます
          </p>
          <p>対象：</p>
          <div class="gray-box">
            <ul>
              <li>パラメータ</li>
              <li>ステータス</li>
              <li>技能名</li>
              <li>チャパレ</li>
            </ul>
          </div>
        </div>
      </template>
    </basic-dialog>

    <basic-dialog id="modal-dice-setting">
      <template #header>チャパレ設定</template>
      <template #content>
        <div class="setting-div" style="width: 22rem;">
          <span>システム</span>
          <toggle-button :top-is-slider="true" :is-checked="setting.is6th" @checked-toggle="value => setting.is6th=value">
            <template #checked>CoC6th</template>
            <template #not-checked>CoC7th</template>
          </toggle-button>

          <span>判定ダイス</span>
          <select v-model="setting.dice">
            <option value="CC">CC</option>
            <option value="CCB">CCB</option>
            <option value="1d100">1d100</option>
          </select>

          <span>形式</span>
          <select v-model="setting.rollStyle">
            <option value="normal">{{setting.dice}}&lt;=70 【...】</option>
            <option value="secret">s{{setting.dice}}&lt;=70 【...】</option>
            <option value="@">{{setting.dice}} 【...】@70</option>
          </select>

          <span></span>
          <div class="setting-div" style="margin: 0;column-gap: 0.5rem;">
            <span>単体ダイス</span>
            <toggle-button :top-is-slider="true" :is-checked="setting.secretSingleDice" @checked-toggle="value => setting.secretSingleDice=value">
              <template #checked>シークレット</template>
              <template #not-checked>オープン</template>
            </toggle-button>
            <span>choice</span>
            <toggle-button :top-is-slider="true" :is-checked="setting.secretChoice" @checked-toggle="value => setting.secretChoice=value">
              <template #checked>シークレット</template>
              <template #not-checked>オープン</template>              
            </toggle-button>
          </div>
        </div>
      </template>
    </basic-dialog>

    <basic-dialog id="modal-unit-setting" section-style="max-width: 22rem;">
      <template #header>キャラコマ設定</template>
      <template #content>
        <div class="setting-div">
          <span>ステータス</span>
          <toggle-button :top-is-slider="true" :is-checked="setting.secretUnit" @checked-toggle="value=>setting.secretUnit=value">
            <template #checked>秘匿</template>
            <template #not-checked>公開</template>
          </toggle-button>
          <span>発言アイコン</span>
          <toggle-button :top-is-slider="true" :is-checked="setting.invisibleUnit" @checked-toggle="value=>setting.invisibleUnit=value">
            <template #checked>非表示</template>
            <template #not-checked>表示</template>
          </toggle-button>
          <span>コマ一覧</span>
          <toggle-button :top-is-slider="true" :is-checked="setting.hideUnit" @checked-toggle="value=>setting.hideUnit=value">
            <template #checked>非表示</template>
            <template #not-checked>表示</template>
          </toggle-button>
        </div>
        <hr>
        <div class="setting-div">
          <span>発言カラー</span>
          <div style="display: grid;grid-template-columns: auto auto 1fr;gap: 0.5rem;align-items: center;">
            <input type="color" v-model="setting.color">
            <input type="text" v-model="setting.color" style="background-color: transparent;height: stretch;width: 7ch;" >
            <p class="ccfolia-name" :style="{color: setting.color}">探索者名</p>
          </div>
          <span>コマサイズ</span>
          <div style="display: flex;gap: 0.5rem;">
            <input type="range" min="1" max="30" v-model="setting.unitSize" style="flex-grow: 1">
            <input type="number" min="1" v-model="setting.unitSize">
          </div>
          <span>差分<span style="font-size: smaller;"> (ラベル)</span></span>
          <textarea :value="setting.faces?.join('\n')" @change="e => setting.faces = e.currentTarget.value.split('\n').filter(Boolean).map(row=>(row.startsWith('@')?'':'@')+row)"></textarea>
        </div>
      </template>
    </basic-dialog>

    <basic-dialog id="modal-import-unit">
      <template #header>ココフォリアコマをインポート</template>
      <template #content>
        <textarea style="width: 20rem;max-height: 20rem;min-height: 6rem;" placeholder="コマを貼り付け" @change="importUnit"></textarea>
        <toggle-button style="display: flex;justify-content: flex-end;" :is-checked="setting.importUnitSetting" @checked-toggle="value=>setting.importUnitSetting=value">
          <template #checked>数値 & コマ設定をインポート</template>
          <template #not-checked>数値のみインポート</template>
        </toggle-button>
      </template>
    </basic-dialog> 
  </div>
  
  <script type="module" src="./code_vue.js"></script>
</body>

</html>